

@{
    ViewData["Title"] = "Landingpage";
}

<div class="Page">
    <section class="Landing-Hero">
        <div class="Landing-Hero-Content">
            <div class="Landing-Hero-Text">
                <p>
                    Create or Join a tournament! Just Have Fun!
                </p>
            </div>
            <div class="Landing-Hero-Actions">
                <a  asp-area="" asp-controller="Tournaments" asp-action="Index" class="button-Type1">Take a look!</a>
                <a  asp-area="" asp-controller="Addtournament" asp-action="AddTournament"  class="button-Type2">Get Started</a>
            </div>
        </div>
    </section>

    <section class="Landing-info">
    </section>
</div>

@*Look at the controller du find the redirect action method named accordingly*@ 
    <!--<a class="nav-link text-dark" asp-area="" asp-controller="Addtournament" asp-action="AddTournament"> Create Tournament</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="UserProfile" asp-action="Index"> Profile</a>-->


@*<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"> Create Tournament</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"> Profile</a>*@


<!--@if (User?.Identity?.IsAuthenticated ?? false)
{
    <a asp-controller="Account" asp-action="Logout"
       class="btn btn-danger">Logout</a>
}-->

<style>
    .Landing-Hero {
        height: calc(100vh - 54px);
        background: black;
        background-image: url(./images/assets/Landing/bg.jpg);
        background-size: cover;
        position: relative;
    }

    .Landing-Hero-Content {
        transform: translate(-50%, -50%);
        position: absolute;
        top: 45%;
        left: 50%;
    }

    .Landing-Hero-Text {
        color: white;
        text-align: center;
        font-size:1.7em;
        width: 550px;
    }

    .Landing-Hero-Actions {
        color: white;
        text-align: center;
        margin-top: 24px;
        font-size:2em;
    }

    .Landing-info {
        display: none;
        height: 924px;
    }
</style>
