
@model Tournament
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


<div class="AddTournamentPage Page">
    <div class="AddTournamentWrap">
        <p>Create Tournament</p>
        <div asp-validation-summary=" All" class="text-Error"></div>
        <form class="form-default" asp-action="AddTournament" asp-controller="Addtournament" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label asp-for="TimeFrame"> Start Time</label>
                <input asp-for="TimeFrame" class="form-control" />
                @*<span asp-validation-for="TimeFrame"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="TournamentName"></label>
                <input asp-for="TournamentName" class="form-control" />
                @*<span asp-validation-for="TournamentName"></span>*@
            </div>

            <div class="form-group">
                <label asp-for="TournamentInfo"></label>
                <textarea asp-for="TournamentInfo" class="form-control"></textarea>
                @*<span asp-validation-for="TournamentInfo"></span>*@
            </div>

            <div class="form-group">
                <label asp-for="Bracketsize"></label>
                <input type="number" asp-for="Bracketsize" class="form-control">
                @*<span asp-validation-for="Bracketsize"></span>*@
            </div>

            <div class="form-group">
                <label asp-for="TournamentImageFile">Tournament backdrop</label>
                <input asp-for="TournamentImageFile" class="form-control form-file" type="file">
            </div>

            <div class="form-group">
                <input type="hidden" asp-for="UserId" value="@UserManager.GetUserId(User)" class="form-control" />
            </div>

            <div class="form-submit-left">
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>

    </div>
</div>

    <style>
        .AddTournamentPage {
            position: relative;
            height: calc(100vh - 54px);
            min-height: 808px;
        }

        .AddTournamentWrap {
            padding: 42px;
            height: max-content;
            width: 524px;
            border-radius: 12px;
            background: #1c2123;
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            box-shadow: 2px 2px 4px 0px #0000006e;
        }

            .AddTournamentWrap p {
                text-align: center;
                font-size: 24px;
                margin: 0;
            }
    </style>