
@{
    ViewData["Title"] = "View";
}
@{
    if (ViewBag.CreatedTournaments.Count != 0)
        {
            <p>Your Tournaments created</p>

            @foreach (var T in ViewBag.CreatedTournaments)
            {
               
                        @if (T.TournamentImage != null)
                        {
                            
                            <img src="/images/tournaments/@T.TournamentImage">
                        }
                   
                            
                            <h2>@T.TournamentName</h2>
                            <p>@T.TimeFrame</p>
                       
            }
        }

    @*if (ViewBag.joinedTournaments.Count != 0)
    {
        <p>Your joined tournaments</p>
        @foreach (var f in ViewBag.joinedTournaments)
        {
            <a class="flex-inner" href="#" style="text-decoration:none">
                <div class="side1">
                    @if (f.TournamentImage != null)
                    {
                        <img src="/images/tournaments/@f.TournamentImage">
                    }
                </div>
                <div class="side2">
                    <h2>@f.TournamentName</h2>
                    <p>@f.TimeFrame</p>
                </div>
            </a>
            }
        }
    else
    {
        <p> No active tournaments</p>
    }*@
}





