@model TournamentWeb.Models.ViewModels.UserProfileViewModel
@using TournamentWeb.Models.ViewModels
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="ProfilePage">
    <div class="ProfileEditWrap">
        <div class="form-default">
            <div><p>Edit Profile</p></div>
            <div asp-validation-summary="All"></div>
            <form asp-action="Edit" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <input hidden asp-for="Id">
                    <input hidden asp-for="ProfileImage">
                </div>
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="UserDiscord"></label>
                    <input asp-for="UserDiscord" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="ProfileImageFile" class="form-label">Add new Profile Picture</label>
                    <input asp-for="ProfileImageFile" class="form-control" type="file">
                </div>
                <button type="submit">Save</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>

</div>

<style>
    .ProfilePage {
        position: relative;
        height: calc(100vh - 54px);
        min-height: 808px;
    }

    .ProfileEditWrap {
        padding: 42px;
        height: max-content;
        width: 524px;
        border-radius: 12px;
        background: #1c2123;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        box-shadow: 2px 2px 4px 0px #0000006e;
    }

        .ProfileEditWrap p {
            text-align: center;
            font-size: 24px;
            margin: 0;
        }

</style>