/*OverAll*/
html {
    position: relative;
    min-height: 100%;
}

h1, h2, h3, h4, p{
    color: white;
}

header {
    position: relative;
    z-index: 1;
}

body {
    margin: 0;
    background: #22282a;
}

main {
    margin-bottom: 230px;
    width: 100%;
    flex-shrink: 1;
}

.Page-Container {
    padding: 24px 124px;
}

.text-Error {
    color: red !important;
}
/*Buttons*/
.button-Type1 {
    padding: 4px 10px 6px 10px;
    box-shadow: 0px 0px 0px 1.5px #2fe8a7;
    border-radius: 4px;
    margin: 0 4px;
}

.button-Type2 {
    padding: 4px 10px 6px 10px;
    box-shadow: 0px 0px 0px 1.5px #d6d6d6;
    border-radius: 4px;
    color: #d6d6d6 !important;
    margin: 0 4px;
}

/*FORM*/
.form-group {
    margin: 24px 0;
}

.form-submit {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.form-submit-left {
    margin-top: 32px;
}

.form-submit-left a{
    padding: 0 12px;
}

label {
    margin: 8px 0;
    display: flex;
    color: white;
}

.form-default input {
    width: calc(100% - 24px);
    height: 32px;
    border-radius: 4px;
    border: 0;
    padding: 0 12px;
}

.form-default textarea {
    width: calc(100% - 24px);
    height: 112px;
    border-radius: 4px;
    padding: 8px 12px;
    resize: none;
    background: #151c1f;
    border: 1px solid #d6d6d6;
    color: white;
}

.form-default textarea:focus {
    background: #151c1f;
    border: 1px solid #2fe8a7;
    color: white;
    outline: none;
}

.form-file {
    padding: 0;
    color: #d6d6d6;
}

.form-file::-webkit-file-upload-button {
  visibility: hidden;
  width: 0;
}

    .form-file::before {
        content: 'Pick Image';
        color: #2fe8a7;
        display: inherit;
        border: 1px solid #2fe8a7;
        border-radius: 4px;
        padding: 5px 8px;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
    }

.form-default button {
    width: 112px;
    height: 33px;
    background: #2a9670;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/*input fields*/
.form-default [type=text],
.form-default [type=number],
.form-default [type=password],
.form-default [type=datetime-Local] {
    background: #151c1f;
    border: 1px solid #d6d6d6;
    color: white;
}

.form-default [type=text]:focus,
.form-default [type=number]:focus,
.form-default [type=password]:focus,
.form-default [type=datetime-Local]:focus {
    background: #151c1f;
    border: 1px solid #2fe8a7;
    color: white;
    outline: none;
}



form [type=datetime-Local]::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="white" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
    cursor: pointer;
}
form [type=datetime-Local]::-webkit-calendar-picker-indicator:hover {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%232ee4a4" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
    cursor: pointer;
}


.form-default input:-webkit-autofill,
.form-default input:-webkit-autofill:hover,
.form-default input:-webkit-autofill:focus,
.form-default input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #151c1f inset !important;
}

.form-default input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}