@model TournamentWeb.Models.Tournament

@{
    if (@Model.TournamentImage != null)
    {
        <div class="TDetailsHero" style="background: url(/images/tournaments/@Model.TournamentImage)"></div>
    }
    else
    {
        <div class="TDetailsHero" style="background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fassets.gamepur.com%2Fwp-content%2Fuploads%2F2021%2F01%2F05145757%2Frocket-league-F.jpg&f=1&nofb=1);"></div>
    }

}
<section class="Page-Container TinfoSection">
</section>

<style>
    .TDetailsHero {
        height: 20vh;
        width: 100%;
        background: black;
    }

    .TinfoSection {
        height: max-content;
        min-height: calc(80vh - 54px)
    }
</style>