<div class="OverViewPage">
    <nav class="TournamentTab">
        <a onclick="changeTTab('View')" class="TournamentTab-btn TournamentTab-btn-active">View</a>
        <a onclick="changeTTab('Details')" class="TournamentTab-btn">Details</a>
    </nav>
    <div id="View" class="partialTTab">
        <partial name="View" />
    </div>
    <div id="Details" class="partialTTab" style="display: none;">
        <partial name="Details" />
    </div>
</div>

<script>
    function changeTTab(id) {
        for (let i = 0; i < 2; i++) {
            document.getElementsByClassName("partialTTab")[i].style.display = "none";
            if (document.getElementsByClassName("partialTTab")[i].id == id) {
                document.getElementsByClassName("TournamentTab-btn")[i].classList.add("TournamentTab-btn-active");
            } else {
                document.getElementsByClassName("TournamentTab-btn")[i].classList.remove("TournamentTab-btn-active");
            }
        }
        console.log(document.getElementsByClassName("partialTTab")[0].id, document.getElementsByClassName("partialTTab")[1].id)
        document.getElementById("" + id + "").style.display = "initial";
    }
</script>

<style>
    .OverViewPage {
        position: relative;
    }
    .TournamentTab {
        position: absolute;
        height: 48px;
        width: 332px;
        background: #1c2123;
        z-index: 1;
        transform: translateX(-50%);
        left: 50%;
        clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .TournamentTab-btn {
        margin: 0 24px;
        color: white;
    }

    .TournamentTab-btn-active {
        color: #2fe8a7;
    }
</style>